html {
  overflow-y: scroll;
}

:root {
  --bgcolor: #faf4ed;
  --fontcolor: #1b1a1e;
  --linkcolor: #9b636a;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: #1b1a1e;
    --fontcolor: #faf4ed;
    --linkcolor: #e8c8c7;
  }
}

body {
  max-width: 500px;
  margin: 2rem auto;
  padding: 0 2rem;
  font-size: 18px;
  line-height: 1.5;
  font-family: Palatino,
    Palatino Linotype,
    Palatino LT STD,
    Book Antiqua,
    Georgia,
    serif;
  color: var(--fontcolor);
  background: var(--bgcolor);
}

a {
  color: var(--linkcolor);
  text-decoration: none;
  transition: 700ms border-color;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid transparent;
}
a:hover {
  border-bottom-color: currentcolor;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
}

h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1;
  text-align: center;
  margin: 1.5rem 0;
}

article {
  padding: 1rem 0;
}

figcaption {
  color: var(--fontcolor);
  font: 0.8rem/1.5;
  text-align: center;
}

figure {
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

.pagination {
  text-align: center;
}

nav {
  text-align: center;
  font-style: italic;
}

.site-title {
  font-size: 3rem;
  text-transform: lowercase;
  text-decoration: none;
  color: var(--fontcolor);
  padding-bottom: 0.3rem;
  border-bottom: 2px solid transparent;
}

.site-subtitle {
  font-style: italic;
}

.location,
.date {
  font-size: 0.9rem;
  font-style: italic;
  opacity: 0.8;

  color: var(--fontcolor);
}

.location-date {
  font-size: 0.9rem;
  opacity: 0.7;
  font-style: italic;
  color: var(--fontcolor);
  text-align: center;
  margin: 1.5rem 0;
}
