@font-face {
  font-family: "Forum";
  src: url("fonts/Forum-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-y: scroll;
}
:root {
  --bgcolor: #faf4ed;
  --fontcolor: #575279;
  --linkcolor: #b4637a;
  --visitedcolor: #b4637a;
  --precolor: #fff;
  --prebgcolor: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: #242132;
    --fontcolor: #fadad9;
    --linkcolor: #ebbcba;
    --visitedcolor: #ebbcba;
    --precolor: #fff;
    --prebgcolor: #383838;
  }
}
body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 Forum;
  color: var(--fontcolor);
  background: var(--bgcolor);
}
a:link {
  color: var(--linkcolor);
}
a:visited {
  color: var(--visitedcolor);
}
a:active {
  color: var(--visitedcolor);
}
h1,
h2,
h3 {
  line-height: 1.2;
}
p > code {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 2px;
}
code {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 2px;
}
pre {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 24px;
  overflow-x: auto;
}
article {
  padding: 24px 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
figcaption {
  color: #888;
  font: 12px/1.5 Forum;
  text-align: center;
}
figure {
  margin: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.site-title {
  font-size: 48px;
  text-transform: lowercase;
  color: var(--fontcolor);
  font-style: unset;
  text-decoration: none;
}

.tag {
  opacity: 70%;
}

.date {
  font-style: italic;
}

.subtitle {
  font-style: italic;
}
