@font-face {
  font-family: "Forum";
  src: url("fonts/Forum-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-y: scroll;
}
:root {
  --bgcolor: #faf4ed;
  --fontcolor: #1b1a1e;
  --linkcolor: #9b636a;
  --precolor: #fff;
  --prebgcolor: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: #1b1a1e;
    --fontcolor: #faf4ed;
    --linkcolor: #e8c8c7;
    --precolor: #fff;
    --prebgcolor: #383838;
  }
}
body {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 10px;
  font: 18px/1.5 Forum;
  color: var(--fontcolor);
  background: var(--bgcolor);
}

a {
  transition: 700ms border-color;
  color: var(--linkcolor);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
a:hover {
  border-bottom-color: var(--linkcolor);
}

h1,
h2,
h3 {
  line-height: 1.2;
}
p > code {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 2px;
}
code {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 2px;
}
pre {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 24px;
  overflow-x: auto;
}
article {
  padding: 1rem 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
figcaption {
  color: #888;
  font: 0.8rem/1.5;
  text-align: center;
}
figure {
  margin: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.site-title {
  font-size: 3rem;
  text-transform: lowercase;
  text-decoration: none;
  color: var(--fontcolor);
  border-bottom: 2px solid transparent;
}
.site-title:hover {
  border-bottom-color: var(--fontcolor);
}

.site-subtitle {
  font-style: italic;
}

.tag {
  font-size: 0.9rem;
  font-style: italic;
  color: var(--fontcolor);
}

.date {
  font-size: 0.9rem;
  font-style: italic;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--bgcolor);
}
